body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
}

.hero, .footer {
    background-color: #1F2937;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.links, .main-text, .button, .footer, .containers, .main-img {
    font-size: 18px;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.containers, .button {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
}

.container, .credit {
    font-size: 18px;
}

.subtitle {
    font-weight: 900;
}

.links {
    list-style-type: none;
}

.button {
  border-radius: 8px;
  padding: 8px 24px;
  border: none;
  display: inline-block;
  text-align: center;
}

.subbutton {
  border-radius: 8px;
  padding: 8px 24px;
  border:solid;
  border-color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-bottom: 50px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-img {
    height: 150px;
    width: 600px;
    background-color: #6b6d72;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    padding-left: 150px;
    padding-right: 150px;
}

.main-container {
    padding-bottom: 150px;
    padding-right: 50px;
}

.img {
   width: 190px;
  height: 190px;
  border: solid;
  border-radius: 25px;
  border-color: #3882F6;
  display: flex;
  margin-bottom: 10px;
}

.title {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.container {
    text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info {
  max-width: 200px;
  margin-bottom: 100px;
}

.quote-text {
    margin-top: 150px;
    margin-right: 325px;
    margin-left: 325px;
    text-align: start;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 5px;
}

.credit {
    margin-bottom: 150px;
    margin-right: 325px;
    margin-left: 325px; 
    text-align: end;
    font-size: 36px;
}

.containers {
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
    padding: 32px;
}
